<%= render "navigation/topnav" %>

<!-- Page content -->
<div class="main">
  <% if @school_name %>
    <h1><%= @school_name %> Dashboard</h1>
  <% else %>
    <h1>Homeschool Dashboard</h1>
  <% end %>

  This is where you find all your stuff
</div>
