<%= render "navigation/topnav" %>
<h1>Homeschool App</h1>
Please sign up to make an account or login

<%= button_to "Login", '/login', method: :get%>
<%= button_to "Sign Up", '/users/new', method: :get%>
</div>
